{{ define "main" }}
<div class="page taxonomy-page">
  <header class="page-header">
    <h1>Topic: {{ .Title }}</h1>
  </header>
  <div class="article-list">
    {{ range .Pages.ByDate.Reverse }}
    <article class="list-item">
      <h2 class="list-item-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <div class="list-item-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format .Site.Params.dateFormat }}</time>
      </div>
      {{ with .Params.summary }}
      <p class="list-item-summary">{{ . }}</p>
      {{ end }}
    </article>
    {{ end }}
  </div>
</div>
{{ end }}